# python -m venv venv
# Core libraries (backend, scraping, processing):
# pip install requests
# pip install beautifulsoup4
# pip install lxml
# pip install feedparser
# pip install dateparser
# pip install rapidfuzz

# Flask backend
# pip install flask
# pip install flask-cors

# Database (MongoDB)
# pip install pymongo

# Frontend/ML/Extra utilities
# pip install pandas
# pip install numpy
# pip install playwright
#playwright install
#pip install langdetect
# python -m pip install --upgrade pip
#pip install schedule




#pip install playwright
#C:\Users\hp\AppData\Local\ms-playwright\chromium-1187
